<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::header"></head>
<body>
<h1>Product Manager:</h1>
<h3><a th:href="@{product/create}">Add new product:</a></h3>
<div th:if="${newProductName}">
    <span th:text="'Product '+${newProductName}+' was created!!'"></span>
</div>
<table border="1">
    <thead>
    <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Price</td>
        <td>Edit</td>
        <td>Delete</td>
        <td>View</td>
    </tr>
    </thead>
    <tr th:each="product:${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
        <td><a th:href="@{product/edit(productId=${product.id})}">Edit</a></td>
        <td><a th:href="@{/product/delete(productId=${product.id})}">Delete</a></td>
        <td><a th:href="@{/product/view(productId=${product.id})}">View</a></td>
    </tr>
</table>
</body>
<footer th:replace="layout::footer"></footer>
</html>